#include <windows.h>

101 ICON "../../assets/icons/icon_default.ico"

1 VERSIONINFO
FILEVERSION     4,0,0,0
PRODUCTVERSION  4,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Szymon Wolarz"
            VALUE "FileDescription",  "BadWords - AI Rough Cutting Assistant"
            VALUE "FileVersion",      "4.0.0.0"
            VALUE "InternalName",     "BadWords"
            VALUE "LegalCopyright",   "Copyright (c) 2026 Szymon Wolarz"
            VALUE "OriginalFilename", "BadWords.exe"
            VALUE "ProductName",      "BadWords"
            VALUE "ProductVersion",   "4.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
